

html,body{
    height: 100%;
    line-height: 1;
}
li{
    list-style: none;
}
.wrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    text-decoration: none;
}
.main{
    flex: 1 1 auto;
}
[class*="__container"]{
    max-width: 1200px;
    margin: 0px auto;
}

.header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header__container{
    display: flex;
    min-height: 114px;
    align-items: center;
}
.header_logo{  
    display: flex;  
}
.logo_img{
    display: flex;
    width: 50%;
    object-fit:contain;    
}
.header_menu{
    flex: 1 1 auto;
}
.header_button{
    flex: 0 0 252px;
    display: flex;
    justify-content: flex-end;
}
.header_button a{
    text-decoration: none;
}
.menu{
    display: flex;
    justify-content: flex-end;  
}
.menu_list{
    display: flex;
}
.menu_list a{
    text-decoration: none;
}
.menu_item{
    margin: 0px 40px 0px 40px;
}

.menu_link{
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.2;
    color: black;
    letter-spacing: 1px;
}
.login, .signup{
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
    font-size: 15px;
    line-height: 12px;
    letter-spacing: 1px;
    color: white;
    padding: 14px 30px;
    border-radius: 5px;
    background-color:#9ceeaa;
    transition: background-color 0.3s ease 0s;
    margin-right: 5px;
}
.login:hover, .signup:hover{
    background-color:rgb(20, 46, 18);
}
.whycashapp h1{
    text-align: center;
    margin-top: 200px;
    font-size: 70px;
    padding-bottom: 10px;
    font-weight: 900;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(20, 14, 56);
}
.pip p{
    text-align: center;
    font-size: 20px;
}

.pop{
    text-align: center;
    
    position: relative;
    z-index: 10;
    
}
.pop h1,h2{
    font-family: 'Ubuntu', sans-serif;
    color: rgb(20, 14, 56);
    margin-top: 300px;
    font-weight: bolder;
    font-size: 70px;
}

.zhaina{
    background-color: #001E3B;
    display: flex;
    color: white;
    text-decoration: none;
    width: 160px;
    height: 50px;
    margin-left: 44%;
    padding-top: 1%;
    padding-left: 1%;
    border-radius: 5%;
    margin-top: 5%;
    font-family: 'Ubuntu', sans-serif;
  
    
}
.sozder{
    margin-top: -350px;
    width: 50%;
    margin-left: 100px;
    color: rgb(20, 14, 56);
}
.tips{
    margin-top: -50px;
    margin-left: 15%;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.tips1{
    margin-left: 15%;
    width: 1000px;
    display: flex;
    justify-content: space-between;
}
.opo{
    width: 500px;
    padding-left: 100px;
}
.container{
    display: flex;
    justify-content: space-between;
}
.card{
    margin-top: -25%;
    box-shadow: 10px 10px 10px black;
    border-radius: 20%;
}
.jazu{
    margin-bottom: 200px;
}
.jazu h1{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    font-weight: 800;
}
.jazu h2{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    font-weight: 1000;
}
.card-img-top{
    width: 200px;
}
.bob{
    display: flex;
}
.bob img{
    width: 500px;
    border-radius: 15%;
    border: solid black;
    margin-top: -20%;
    margin-left: 4%;
    box-shadow:15px 15px 10px rgb(99, 58, 39);
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}

section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
	color: rgb(20, 14, 56);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
    margin-top: -40%;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color: rgb(20, 14, 56);
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color: rgb(20, 14, 56);
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: white;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: rgb(20, 14, 56);
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: rgb(20, 14, 56);
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color: rgb(20, 14, 56);
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: white;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
