html,body{
    height: 100%;
    line-height: 1;
}
li{
    list-style: none;
}
.wrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    text-decoration: none;
}
.main{
    flex: 1 1 auto;
}
[class*="__container"]{
    max-width: 1200px;
    margin: 0px auto;
}

.header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header__container{
    display: flex;
    min-height: 114px;
    align-items: center;
}
.header_logo{  
    display: flex;  
}
.logo_img{
    display: flex;
    width: 50%;
    object-fit:contain;    
}
.header_menu{
    flex: 1 1 auto;
}
.header_button{
    flex: 0 0 252px;
    display: flex;
    justify-content: flex-end;
}
.menu{
    display: flex;
    justify-content: flex-end;  
}
.menu_list{
    display: flex;
}
.menu_item{
    margin: 0px 40px 0px 40px;
}

.menu_link{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.2;
    color: black;
    letter-spacing: 1px;
}
.login, .signup{
    display: inline-block;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    font-size: 15px;
    line-height: 12px;
    letter-spacing: 1px;
    color: aliceblue;
    padding: 14px 30px;
    border-radius: 5px;
    background-color: rgb(70, 175, 60);
    transition: background-color 0.3s ease 0s;
    margin-right: 5px;
}
.login:hover, .signup:hover{
    background-color:rgb(20, 46, 18);
}
.infopart1{
    display: inline-block;
    width: 35%;
    margin: 6%;
    color: rgb(20, 14, 56);
    font-family: 'Ubuntu', sans-serif;
}
h1{
    font-weight: bolder;
    font-size: 4em;
}
p{
    font-weight: 900;
    font-size: 1.5em;
}
.blob1{
    width: 45%;
    position: absolute;
    top: 15%;
}
.sales1{
    position: relative;
    z-index: 6;
    width: 40%;
}
.advantages_body{
    display: flexbox;
    text-align: center;
    margin-top: 6%;
}
.advantages_item{
    font-family: 'Ubuntu', sans-serif;
    display: inline-block;
    font-weight: 700;
    font-size: 160%;
    text-align: center;
    padding: 2%;
    width: 28%;
    color: rgb(20, 14, 56);
}

.advantages_value{
    padding-bottom: 6%;
    font-size: 250%;
    font-family: 'Patua One', cursive;    
}
.section2{
    background-image: url(wave-haikei.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
}
.infopart2{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(20, 14, 56);
    font-weight: 500;
    width: 70%;
    margin: 7% 15% 0 15%;
}

.part_1{
    padding-top: 60px;
    margin-left: 70px;
}

.img_1{
   margin-right: 10%;
}

h4{
   font-family: Graphik,sans-serif;
   font-size: 44px;
   font-weight: 700;
   color: #001e3b;
   /* text-align: center; */
}
p{
    font-size: 18px;
    /* text-align: center; */
}

.cursive{
    font-style: italic;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-top: -15px;
}

.flex{
    display: flex;
    margin-top: 10px;
}
.box_item1{
    width: 55%;
    height: 200px;
    background-color: #f3f5ae;
    border-radius: 4px;
    margin-left: 100px;
}

.time, .bank, .dollar, .yes{
    margin-top: 35px;
    margin-left: 15px;
}

.text{
    margin: -105px 0 0 90px;
}

.box_item2{
    background-color: #fdd5d4;
    width: 55%;
    height: 200px;
    border-radius: 4px;
    margin-left: 100px;
}

.box_item3{
    background-color: #fee0ce;
    width: 55%;
    height: 200px;
    border-radius: 4px;
    margin-left: 100px;
}

.box_item4{
    background-color: #b8ebe9;
    width: 55%;
    height: 200px;
    border-radius: 4px;
    margin-left: 100px;
}

h5{
    font-family: 'Spectral', serif;
    font-size: 25px;
}

.cards{
    display: flex;
}

.caption_items2, .caption_items3{
    font-family: 'Josefin Slab', serif;
    margin-bottom: -80px;
    font-size: 25px;
}

.items_2{
    display: flex;
    margin-left: 10%;
    margin-top: 70px;
}

.text_items2_1{
    color: #001e3b;
    font: 900;
    font-family: 'Times New Roman', Times, serif;
    font-size: 65px;
    margin-bottom: 10px;
}

.part_2{
    margin-left: 8%;
}

.text_items2_2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #001e3b;
}

.text_items2_3{
    font-family: 'Montserrat Alternates', sans-serif;
}

.tick_box, .tick_box_2{
  display: flex;
}

.txt_1{
    margin-left: 10px;
    margin-top: 2px;
} 

.button_1{
    font-size: 19px;
    color: white;
    background-color: #001e3b;
    border: none;
    width: 190px;
    height: 60px;
    border-radius: 3%;
}

.part_3{
    padding: 40px 0 40px 65px;
}

h1{
    color: #001e3b;
    font-size: 65px;
    text-align: center;
}

.text_items3{
    text-align: center;
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
}

.star{
    padding: 0 0 0 7%;
}

.img4{
    position: absolute;
    z-index: -1;
    filter: blur(1.0px);
}

.caption_part_3{
    font-size: 40px;
    text-align: center;
    margin-top: 120px;
    margin-right: 45px;
    color: white;
}

.text_office{
    font-family: 'Times New Roman', Times, serif;
    color: #001e3b;
    font-size: 65px;
    text-align: center;
    /* -webkit-text-stroke:0.7px white; */
    margin-top: 75px;
}

.part_5{
    margin-top: 80px;
    display: flex;
}

.button_2{
    background-color: #a6ede6;
    font-size: 22px;
    font: 900;
    color: white;
    border: none;
    width: 190px;
    height: 60px;
    border-radius: 3%;
    margin-top: 15px;
}

.txt_2{
    margin: 0px 8px 20px 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.text_items3_1{
    color: #edb7a6;
    font-family: 'Times New Roman', Times, serif;
    font-size: 65px;
    margin-bottom: 10px;
}

.part_4{
    margin-top: 100px;
}

.button_3{
    background-color: #fac93d;
    font-size: 28px;
    border-radius: 3%;
    color: white;
    border: none;
    width: 240px;
    height: 80px;
    margin-left: 380px;
}

.button_4{
    background-color: #4e4fb9;
    font-size: 28px;
    border-radius: 3%;
    color: white;
    border: none;
    width: 220px;
    height: 80px;
    margin-left: 20px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}

section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
  color: rgb(20, 14, 56);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
    margin-top: -18%;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color: rgb(20, 14, 56);
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
  color: rgb(20, 14, 56);
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: white;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: rgb(20, 14, 56);
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  lightseagreen;
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: rgb(20, 14, 56);
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color: rgb(20, 14, 56);
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}
