html,body{
    height: 100%;
    line-height: 1;
}
li{
    list-style: none;
}

.wrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    text-decoration: none;
}
.main{
    flex: 1 1 auto;
}
[class*="__container"]{
    max-width: 1200px;
    margin: 0px auto;
}

.header{
    position: relative;
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    box-shadow: 1em 0.5em 1em 1em rgb(247, 250, 246);
    background-color: white;
}
.header__container{
    display: flex;
    min-height: 114px;
    align-items: center;
}
.header_logo{  
    display: flex;  
}
.logo_img{
    display: flex;
    width: 50%;
    object-fit:contain;    
}
.header_menu{
    flex: 1 1 auto;
}
.header_button{
    flex: 0 0 252px;
    display: flex;
    justify-content: flex-end;
}
.menu{
    display: flex;
    justify-content: flex-end;  
}
.menu_list{
    display: flex;
}
.menu_item{
    margin: 0px 40px 0px 40px;
}

.menu_link{
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.2;
    color: black;
    letter-spacing: 1px;
}
.login, .signup{
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
    font-size: 15px;
    line-height: 12px;
    letter-spacing: 1px;
    color: white;
    padding: 14px 30px;
    border-radius: 5px;
    background-color: #9ceeaa;
    transition: background-color 0.3s ease 0s;
    margin-right: 5px;
}
.login:hover, .signup:hover{
    background-color:rgb(20, 46, 18);
}
.heart1{
    position: absolute;
    top: 40%;
    left: 10%;
}

.contentwe{
    display: inline;
    color: rgb(20, 14, 56);
    font-size: 140%;
}
.we{
    margin-left: 25%;
    margin-top: 5%;
}
.content {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 160px;
    overflow: hidden;
    line-height: 40px;
    z-index: 100;
    font-size: 150%;

}
.content__container {
    font-weight: 600;
    overflow: hidden;
    height: 40px;
    padding: 0 40px;
}

.content__container__text {
    display: inline;
    float: left;
    margin: 0;
}
.content__container__list {
    margin-top: 0;
    padding-left: 110px;
    text-align: left;
    list-style: none;
    -webkit-animation-name: change;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.content__container__list__item {
    line-height: 40px;
    margin: 0;
}
@-webkit-keyframes opacity {
    0%, 100% {
        opacity: 0;
   }
    50% {
        opacity: 1;
   }
}
@-webkit-keyframes change {
    0%, 12.66%, 100% {
        transform: translate3d(0, 0, 0);
   }
    16.66%, 29.32% {
        transform: translate3d(0, -25%, 0);
   }
    33.32%, 45.98% {
        transform: translate3d(0, -50%, 0);
   }
    49.98%, 62.64% {
        transform: translate3d(0, -75%, 0);
   }
    66.64%, 79.3% {
        transform: translate3d(0, -50%, 0);
   }
    83.3%, 95.96% {
        transform: translate3d(0, -25%, 0);
   }
}
@-o-keyframes opacity {
    0%, 100% {
        opacity: 0;
   }
    50% {
        opacity: 1;
   }
}
@-o-keyframes change {
    0%, 12.66%, 100% {
        transform: translate3d(0, 0, 0);
   }
    16.66%, 29.32% {
        transform: translate3d(0, -25%, 0);
   }
    33.32%, 45.98% {
        transform: translate3d(0, -50%, 0);
   }
    49.98%, 62.64% {
        transform: translate3d(0, -75%, 0);
   }
    66.64%, 79.3% {
        transform: translate3d(0, -50%, 0);
   }
    83.3%, 95.96% {
        transform: translate3d(0, -25%, 0);
   }
}
@-moz-keyframes opacity {
    0%, 100% {
        opacity: 0;
   }
    50% {
        opacity: 1;
   }
}
@-moz-keyframes change {
    0%, 12.66%, 100% {
        transform: translate3d(0, 0, 0);
   }
    16.66%, 29.32% {
        transform: translate3d(0, -25%, 0);
   }
    33.32%, 45.98% {
        transform: translate3d(0, -50%, 0);
   }
    49.98%, 62.64% {
        transform: translate3d(0, -75%, 0);
   }
    66.64%, 79.3% {
        transform: translate3d(0, -50%, 0);
   }
    83.3%, 95.96% {
        transform: translate3d(0, -25%, 0);
   }
}
@keyframes opacity {
    0%, 100% {
        opacity: 0;
   }
    50% {
        opacity: 1;
   }
}
@keyframes change {
    0%, 12.66%, 100% {
        transform: translate3d(0, 0, 0);
   }
    16.66%, 29.32% {
        transform: translate3d(0, -25%, 0);
   }
    33.32%, 45.98% {
        transform: translate3d(0, -50%, 0);
   }
    49.98%, 62.64% {
        transform: translate3d(0, -75%, 0);
   }
    66.64%, 79.3% {
        transform: translate3d(0, -50%, 0);
   }
    83.3%, 95.96% {
        transform: translate3d(0, -25%, 0);
   }
}
.infopart1{
    display: inline-block;
    width: 35%;
    margin: 6%;
    color: rgb(20, 14, 56);
    font-family: 'Ubuntu', sans-serif;
}
h1{
    font-weight: bolder;
    font-size: 4em;
}
p{
    font-weight: 900;
    font-size: 1.5em;
}
.blob1{
    width: 45%;
    position: absolute;
    top: 55%;
}
.sales1{
    position: relative;
    z-index: 6;
    width: 40%;
}
.advantages_body{
    display: flexbox;
    text-align: center;
    margin-top: 6%;
}
.advantages_item{
    font-family: 'Ubuntu', sans-serif;
    display: inline-block;
    font-weight: 700;
    font-size: 160%;
    text-align: center;
    padding: 2%;
    width: 28%;
    color: rgb(20, 14, 56);
}

.advantages_value{
    padding-bottom: 6%;
    font-size: 250%;
    font-family: 'Patua One', cursive;    
}
.section2{
    background-image: url(wave-haikei.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
}
.heart2{
    position: absolute;
    top: 17%;
    z-index: 20;
}
.heart3{
    position: relative;
    left: 37%;
    top: -22%;
    z-index: 150;
}
.infopart2{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(20, 14, 56);
    font-weight: 500;
    width: 70%;
    margin: 7% 15% 0 15%;
}
.infopart3{
    width: 40%;
    display: inline-block;
    padding: 3%;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(20, 14, 56);
}
.info_container{
    border: 1px solid rgb(218, 218, 218);
    background-color: white;
    width: 70%;
    height: 90%;
    border-radius: 20px;
    margin-left: 15%;
    margin-top: 5%;
    box-shadow: 3px #9ceeee ;
}
.sales2{
    width: 50%;
    margin-top: 5%;
}
h2{
    font-size: 300%;
}
.predict{
    font-size: 1.3em;
}
.section3{
    background-image: url(wave-haikei2.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
}
.reviews{
    margin-left: 10%;
    font-family: 'Hubballi', cursive;
    text-align: center;
}
.review_item{
    display: inline-flex;
    border-radius: 45px;
    border: 2px solid black;
    background-color: white;
    margin: 15px;
    padding: 5px;
    justify-content: center;
}
.review_text{
    font-size: 1.1em;
    font-weight: 700;
    width: fit-content;
    block-size: fit-content;
}

.dude{
    width: 7%;
    padding: 5px;
    border-radius: 50%;
    display:block;
    object-fit: unset;  
}
.empty{
    margin: 0;
    visibility: hidden;
    font-size: 800%;
}
.yes{
    font-size: 650%;
    margin: 0;
    font-family: 'Hubballi', cursive;
    font-weight: 100;
    color: #a39cee;
    border: 6px solid black;
    width: fit-content;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 3px;
    border-style: double;
    margin-left: 45%;
    margin-bottom: 8%;
    
}
/* .footer{
    height: 70vh;
    font-family: Open Sans;

} */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

.section4 {
  width: 100%;
  display: inline-block;
  height: 80vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
  color: rgb(20, 14, 56);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color: rgb(20, 14, 56);
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
  color: rgb(20, 14, 56);
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: white;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: rgb(20, 14, 56);
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  lightseagreen;
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: rgb(20, 14, 56);
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color: rgb(20, 14, 56);
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: white;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}
